.dashboard-layout{
    display:flex;
    min-height:100vh;
    background:#0f172a;
}

.dashboard-main{
    flex:1;
    margin-left:270px;
    padding:25px;
    transition:.35s;

    overflow: visible;
}

.dashboard-content{
    margin-top:25px;
}

/* Mobile */

@media(max-width:992px){

.dashboard-main{

margin-left:0;

padding:20px;

}

}

@media(max-width:576px){

.dashboard-main{

padding:15px;

}

}
