.event-modal{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,.6);

display:flex;

justify-content:center;

align-items:center;

z-index:1000;

backdrop-filter:blur(5px);

}

.event-form{

width:550px;

background:#1e293b;

padding:30px;

border-radius:18px;

display:flex;

flex-direction:column;

gap:18px;

}

.event-form h2{

color:white;

text-align:center;

}

.event-form input,
.event-form textarea{

padding:14px;

background:#0f172a;

border:1px solid #334155;

border-radius:10px;

color:white;

}

.event-form textarea{

height:120px;

resize:none;

}

.buttons{

display:flex;

justify-content:flex-end;

gap:15px;

}

.cancel-btn{

background:#475569;

color:white;

border:none;

padding:12px 22px;

border-radius:10px;

cursor:pointer;

}

.save-btn{

background:linear-gradient(135deg,#2563eb,#7c3aed);

color:white;

border:none;

padding:12px 22px;

border-radius:10px;

cursor:pointer;

}