.error-page {
  min-height: 100vh;

  background: linear-gradient(
    to right,
    #020617,
    #0f172a,
    #1e293b
  );

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
}

.error-container {
  padding: 50px;
}

.error-container h1 {
  font-size: 120px;
  color: #2563eb;
  margin-bottom: 20px;
}

.error-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.error-container p {
  color: lightgray;
  font-size: 18px;
  margin-bottom: 35px;
}

.error-container button {
  padding: 15px 30px;

  border: none;
  border-radius: 30px;

  background: #2563eb;
  color: white;

  cursor: pointer;
  font-size: 16px;

  transition: 0.3s;
}

.error-container button:hover {
  background: #1d4ed8;
}